---
http_interactions:
- request:
    method: post
    uri: https://api.scale.com/v1/task/audiotranscription
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","attachment_type":"audio","attachment":"https://storage.googleapis.com/deepmind-media/pixie/knowing-what-to-say/second-list/speaker-3.wav","verbatim":false}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0efc4fd4f0075d11f8c","created_at":"2019-03-10T08:55:12.058Z","completed_at":"2019-03-10T08:55:12.111Z","callback_url":"http://www.example.com/callback","type":"audiotranscription","status":"completed","instruction":"Please
        transcribe the attached audio file.","params":{"attachment":"https://storage.googleapis.com/deepmind-media/pixie/knowing-what-to-say/second-list/speaker-3.wav","attachment_type":"audio","verbatim":false,"skip_human_transcription":false},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"transcript":"This
        is an example transcript using your Scale test key.","duration":5,"alignment":[{"word":"This","start":0.3,"end":0.37,"confidence":0.9},{"word":"is","start":0.37,"end":0.79,"confidence":0.9},{"word":"an","start":0.79,"end":0.94,"confidence":0.9},{"word":"example","start":0.94,"end":1,"confidence":0.9},{"word":"transcript","start":1,"end":1.3,"confidence":0.3},{"word":"using","start":1.3,"end":1.59,"confidence":0.3},{"word":"your","start":1.59,"end":1.8,"confidence":0.9},{"word":"Scale","start":1.81,"end":2.01,"confidence":0.9},{"word":"API","start":2.01,"end":2.37,"confidence":0.9},{"word":"test","start":2.37,"end":2.82,"confidence":0.9},{"word":"key","start":2.85,"end":3.11,"confidence":0.9}]}}'
  recorded_at: Sun, 10 Mar 2019 08:55:12 GMT
recorded_with: VCR 4.0.0
