---
http_interactions:
- request:
    method: post
    uri: https://api.scale.com/v1/task/comparison
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","instruction":"Do
        the objects in these images have the same pattern?","attachments":["http://i.ebayimg.com/00/$T2eC16dHJGwFFZKjy5ZjBRfNyMC4Ig~~_32.JPG","http://images.wisegeek.com/checkered-tablecloth.jpg"],"attachment_type":"image","choices":["yes","no"]}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0f367764e00561a72eb","created_at":"2019-03-10T08:55:15.129Z","completed_at":"2019-03-10T08:55:15.174Z","callback_url":"http://www.example.com/callback","type":"comparison","status":"completed","instruction":"Do
        the objects in these images have the same pattern?","params":{"attachments":["http://i.ebayimg.com/00/$T2eC16dHJGwFFZKjy5ZjBRfNyMC4Ig~~_32.JPG","http://images.wisegeek.com/checkered-tablecloth.jpg"],"attachment_type":"image","choices":["yes","no"]},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"choice":"yes"}}'
  recorded_at: Sun, 10 Mar 2019 08:55:15 GMT
recorded_with: VCR 4.0.0
