---
http_interactions:
- request:
    method: post
    uri: https://api.scale.ai/v1/task/annotation
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","instruction":"Draw
        a box around each **baby cow** and **big cow**","attachment_type":"image","attachment":"http://i.imgur.com/v4cBreD.jpg","objects_to_annotate":["baby
        cow","big cow"],"with_labels":true,"examples":[{"correct":true,"image":"http://i.imgur.com/lj6e98s.jpg","explanation":"The
        boxes are tight and accurate"},{"correct":false,"image":"http://i.imgur.com/HIrvIDq.jpg","explanation":"The
        boxes are neither accurate nor complete"}]}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0f50413320064109f34","created_at":"2019-03-10T08:55:18.054Z","completed_at":"2019-03-10T08:55:18.100Z","callback_url":"http://www.example.com/callback","type":"annotation","status":"completed","instruction":"Draw
        a box around each **baby cow** and **big cow**","params":{"attachment":"http://i.imgur.com/v4cBreD.jpg","attachment_type":"image","objects_to_annotate":["baby
        cow","big cow"],"with_labels":true,"min_width":0,"min_height":0,"examples":[{"correct":true,"image":"http://i.imgur.com/lj6e98s.jpg","explanation":"The
        boxes are tight and accurate"},{"correct":false,"image":"http://i.imgur.com/HIrvIDq.jpg","explanation":"The
        boxes are neither accurate nor complete"}]},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"annotations":[{"left":0,"top":0,"width":100,"height":100,"label":"big
        cow"}]}}'
  recorded_at: Sun, 10 Mar 2019 08:55:18 GMT
recorded_with: VCR 4.0.0
