---
http_interactions:
- request:
    method: post
    uri: https://api.scale.ai/v1/task/lineannotation
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","instruction":"Draw
        a tight shape around the big cow","attachment_type":"image","attachment":"http://i.imgur.com/v4cBreD.jpg","objects_to_annotate":["big
        cow"],"with_labels":true}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0f61fd428005d20e8dc","created_at":"2019-03-10T08:55:18.928Z","completed_at":"2019-03-10T08:55:18.978Z","callback_url":"http://www.example.com/callback","type":"lineannotation","status":"completed","instruction":"Draw
        a tight shape around the big cow","params":{"attachment":"http://i.imgur.com/v4cBreD.jpg","attachment_type":"image","objects_to_annotate":["big
        cow"],"with_labels":true,"splines":false},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"annotations":[{"vertices":[{"x":10,"y":10},{"x":110,"y":110},{"x":10,"y":110}],"label":"big
        cow"}]}}'
  recorded_at: Sun, 10 Mar 2019 08:55:19 GMT
recorded_with: VCR 4.0.0
