---
http_interactions:
- request:
    method: post
    uri: https://api.scaleapi.com/v1/task/segmentannotation
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","instruction":"Please
        segment the image using the given labels.","attachment_type":"image","attachment":"http://i.imgur.com/XOJbalC.jpg","labels":["background","road","vegetation","lane
        marking"],"instance_labels":["vehicle","pedestrian"],"allow_unlabeled":false}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0f9e95619006b073a90","created_at":"2019-03-10T08:55:21.714Z","completed_at":"2019-03-10T08:55:23.259Z","callback_url":"http://www.example.com/callback","type":"segmentannotation","status":"completed","instruction":"Please
        segment the image using the given labels.","params":{"attachment":"http://i.imgur.com/XOJbalC.jpg","attachment_type":"image","labels":["background","road","vegetation","lane
        marking"],"instance_labels":["vehicle","pedestrian"],"allow_unlabeled":false,"allow_parent_labels":false},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"annotations":{"unlabeled":"https://scaleapi-results.s3.us-west-1.amazonaws.com/7d7cfc4e-68e2-4a11-9e68-79795bd2d0eb","labeled":{"background":"https://scaleapi-results.s3.us-west-1.amazonaws.com/6587eb57-65a5-4a9b-9b89-67d16fafc425"},"combined":{"image":"https://scaleapi-results.s3.us-west-1.amazonaws.com/48dbfee9-e849-4aa6-b060-803c433676fc","indexedImage":"https://scaleapi-results.s3.us-west-1.amazonaws.com/dc9cd6c3-a4d2-4030-9fca-618aceb996ab"}},"labelMapping":{"background":{"index":1,"color":"#ff0000"},"road":{"index":2,"color":"#ffff00"},"vegetation":{"index":3,"color":"#00ff00"},"lane
        marking":{"index":4,"color":"#00ffff"}}}}'
  recorded_at: Sun, 10 Mar 2019 08:55:23 GMT
recorded_with: VCR 4.0.0
