---
http_interactions:
- request:
    method: get
    uri: https://api.scale.com/v1/tasks?callback_url&end_time&limit=2&offset=2&start_time&status&type
    body:
      encoding: US-ASCII
      string: ''
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"docs":[{"task_id":"5c8498e23beb09005d953d51","created_at":"2019-03-10T04:56:02.086Z","completed_at":"2019-03-10T04:56:02.133Z","callback_url":"http://www.example.com/callback","type":"pointannotation","status":"completed","instruction":"Draw
        a point on every **headlight** and **brakelight** of a car in the image.","params":{"attachment":"http://i.imgur.com/XOJbalC.jpg","attachment_type":"image","objects_to_annotate":["headlight","brakelight"],"with_labels":true},"is_test":true,"urgency":"day","metadata":{},"processed_attachments":[]}],"total":3,"limit":2,"offset":2,"has_more":false}'
  recorded_at: Sun, 10 Mar 2019 06:00:57 GMT
recorded_with: VCR 4.0.0
