---
http_interactions:
- request:
    method: get
    uri: https://api.scaleapi.com/v1/task/5c84d0fe958593004f13e5ba?callback_url
    body:
      encoding: US-ASCII
      string: ''
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0fe958593004f13e5ba","created_at":"2019-03-10T08:55:26.624Z","completed_at":"2019-03-10T08:55:26.669Z","callback_url":"http://www.example.com/callback","type":"categorization","status":"completed","instruction":"Is
        this company public or private?","params":{"attachment_type":"website","attachment":"https://www.google.com","categories":["public","private"],"allow_multiple":false},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"category":"private","category_id":null}}'
  recorded_at: Sun, 10 Mar 2019 08:58:56 GMT
recorded_with: VCR 4.0.0
