---
http_interactions:
- request:
    method: post
    uri: https://api.scale.ai/v1/task/transcription
    body:
      encoding: UTF-8
      string: '{"callback_url":"http://www.example.com/callback","instruction":"Transcribe
        the given fields.","attachment_type":"website","attachment":"http://news.ycombinator.com/","fields":{"title":"Title
        of Webpage","top_result":"Title of the top result"}}'
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: ASCII-8BIT
      string: '{"task_id":"5c84d0fb26eb2700706a9069","created_at":"2019-03-10T08:55:24.068Z","completed_at":"2019-03-10T08:55:24.114Z","callback_url":"http://www.example.com/callback","type":"transcription","status":"completed","instruction":"Transcribe
        the given fields.","params":{"attachment_type":"website","attachment":"http://news.ycombinator.com/","fields":{"title":"Title
        of Webpage","top_result":"Title of the top result"}},"is_test":true,"urgency":"standard","metadata":{},"callback_succeeded":true,"processed_attachments":[],"response":{"fields":{"title":"test
        response","top_result":"test response"},"repeatable_fields":[null,null]}}'
  recorded_at: Sun, 10 Mar 2019 08:55:24 GMT
recorded_with: VCR 4.0.0
